@import "../halo/halo";

@mixin schoolManagement {
  @include halo;

   .active-badge {
          background-color: #d4edda;
          color: #155724;
          padding: 4px 10px;
          border-radius: 12px;
          font-weight: bold;
      }

      .inactive-badge {
          background-color: #f8d7da;
          color: #721c24;
          padding: 4px 10px;
          border-radius: 12px;
          font-weight: bold;
      }

  }
}